# Eclipse Specific Ignores...
.classpath
.project
.settings/
bin/

# IntelliJ Specific Files
.idea/
**/*.iml
dump.rdb

# Manven Specific by IntelliJ
.mvn/

# Project
logs/
target/

# Gradle files
.gradle/
build/
/*/build/

out/
